<div class="grid grid-cols-3 h-screen mt-5">
  <div class="h-full bg-customBlack p-8">
    <h2
      class="font-medium text-lg lg:text-2xl text-indigo-500 mb-5 text-center"
    >
      Ingresar Información de Factura
    </h2>
    <div class="example-container ml-2 mr-2">
      <form
        class="flex flex-col"
        [formGroup]="addBillForm"
        (ngSubmit)="onSaveBill()"
        autocomplete="off"
      >
        <!-- Number bill -->
        <mat-form-field>
          <mat-label>Numero de factura</mat-label>
          <input
            matInput
            placeholder="1523578"
            formControlName="numberBill"
            required
          />
          <!--  @if (numberBill.invalid) {
            <mat-error>{{ getErrorMessage() }}</mat-error>
            } -->
        </mat-form-field>

        <!-- Provider -->
        <mat-form-field>
          <mat-label>Escoge el provedor</mat-label>
          <mat-select formControlName="provider" required>
            @for ( provider of providersList; track provider) {
            <mat-option [value]="provider">{{ provider.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Value bill -->
        <mat-form-field>
          <mat-label>Ingresa el valor de la factura</mat-label>
          <input
            matInput
            type="number"
            placeholder="200000"
            formControlName="valueBill"
            required
          />
        </mat-form-field>

        <!-- Is credit -->
        <mat-form-field>
          <mat-label>Tipo de pago</mat-label>
          <mat-select formControlName="credit" required>
            <mat-option value="false">Contado</mat-option>
            <mat-option value="true">Credito</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date enter -->
        <mat-form-field class="example-form-field">
          <mat-label>Fecha de ingreso</mat-label>
          <input
            matInput
            formControlName="dateIn"
            [matDatepicker]="datepicker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">
          Guardar Factura
        </button>
      </form>
    </div>
  </div>

  <div class="col-span-2 h-full bg-customBlack ml-5 p-8">
    <h2
      class="font-medium text-lg lg:text-2xl text-indigo-500 mb-5 text-center"
    >
      Facturas registradas recientemente
    </h2>
    <component-table [filterProperty]="false"></component-table>
  </div>
</div>
