

<div class="flex justify-center items-center h-screen">
  @if( !isLoading ){
    <form class="w-3/12 flex flex-col p-8 bg-indigo-300 rounded shadow-lg" [formGroup]="loginUserForm"
    (ngSubmit)="loginUser()" autocomplete="off">
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="loginUserEmail" type="email" matInput placeholder="Ingrese el email registrado">
        @if( isValidField('loginUserEmail')){
        <mat-error>{{ getErrorMessage( 'loginUserEmail' ) }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="mb-4">
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input formControlName="loginUserPassword" type="password" matInput placeholder="Ingrese su contraseña">
        @if( isValidField('loginUserPassword')){
        <mat-error>{{ getErrorMessage( 'loginUserPassword' ) }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="text-center pb-2">
      <button [disabled]="loginUserForm.invalid" type="submit" mat-raised-button color="primary">Iniciar
        sección</button>
    </div>

    <div class="text-center">
      <span>No tienes cuenta <strong><a [routerLink]="['/user/register-user']">registrate!</a></strong></span>
    </div>
  </form>
  }
  @if( isLoading ){
    <app-spinner-loader></app-spinner-loader>
  }

</div>
